[submodule "turtle/DynamixelSDK"]
	path = turtle/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK
	branch = humble
[submodule "turtle/turtlebot3"]
	path = turtle/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3
	branch = humble
[submodule "turtle/turtlebot3_msgs"]
	path = turtle/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs
	branch = humble
[submodule "turtle/turtlebot3_simulations"]
	path = turtle/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations
	branch = humble
